[2015-06-03 19:23] tbossert opened #6 "Need to sync"
Sync it

[2015-06-03 19:56] #6 closed, assigned to tbossert

[2015-06-17 03:55] surfjedi opened #16 "npm run dev failing.. problem with build-runtime?"
after installing the CLI, creating a project and npm install successfully  - I am un able to get past the npm run dev command..

Here's what I get :

leeblazek@Lees-MacBook-Pro-2
 ~/Sites/fa-framework-test
$ npm run dev

npm ERR! Error: ENOENT, open '/Users/leeblazek/Sites/fa-framework-test/node_modules/famous-framework/node_modules/build-runtime/package.json'
npm ERR! If you need help, you may re

[2015-06-17 04:13] #16 closed, assigned to nobody

[2015-06-18 15:46] tsortwehttam opened #17 "Windows installation/setup fails"
Installing the framework via the Famous CLI (`framework` branch) on a Windows machine doesn't work. Two overarching issues at play:
- In several places in the code, file/folder paths are not constructed in a platform-agnostic way
- At least one of the npm packages aren't compatible out-of-the-box with Windows

---

Here are some specific issues I've collected that will need to be resolved for Wind

[2015-06-18 23:49] Imti opened #18 "Events on plain DOM elements triggered multiple times"
### Base Example

[code]
### Problem:

Since the content of nodes are passed to the engine as strings, we can't attach events on to the plain dom elements. A workaround implemented by the framework is to crawl up the tree and attach the event on to the parent node containing the content. This will work for most cases. It breaks in this case since we end up having 3 click events getting attached to

[2015-06-19 15:36] tsortwehttam opened #19 "Support for module loading"
Most developers will expect to be able to do this:

[code]

Although we don't restrict _against_using `require` etc., we don't currently have automatic support for it through our build process, meaning that the bundles generated by our build process won't actually have the required packages loaded in.
#### The current workaround

The current workaround is to pre-bundle your entrypoint file before

[2015-06-22 07:03] andrewreedy opened #24 "Dynamic components based on state"
Is there a way to show a dynamic component based on state? It might eliminate the need for all of the if statements and static tree in the router example, etc.. something like

[code]

[2015-06-22 07:07] andrewreedy opened #25 "Documentation for [[x|x]] style function shorthands"
It would be helpful to have some documentation on '[[identity|headerHeight]]' and '[[setter|camel]]' function shorthand (sugar)

[2015-06-22 07:10] andrewreedy opened #26 "Default development serverHost"
It would be cool if serverHost defaulted to your IP on the network so that going to 192.168.x.x:1618 on your phone worked. I can get it working by modifying `famous-framework.development.bundle.js` (Deployer -> options -> codeManagerAssetReadHost), but it feels like that should be default for development so it's easy to test on multiple devices.

[2015-06-23 13:40] jd-carroll opened #27 "Cleanup Dependencies (Nice to Have)"
It would be nice to have the dependencies in package.json cleaned up a little and have the dev-dependencies separate from the runtime dependencies.  This way it's easier to get a better understanding of what all will be included.

[2015-06-23 13:42] law-liet opened #28 "Problem with setting up"
I am using a OS X 10.10. I followed the steps in README, but it did not work. Nothing shows up in the browser. Here's the info after running `npm run dev`.
[code]

[2015-06-23 16:35] matthewtoast commented on #24
That's pretty interesting. We can definitely look into something like this that makes this type of toggling a bit "sweeter." cc @zackbrown who may want to weigh in on this approach and separation of concerns.

[2015-06-23 16:38] matthewtoast commented on #26
:+1: This would be a great feature. Would just need to look into the right way to detect this across different systems, and possibly default back to `localhost` if no found. Plus document how to change it.

[2015-06-23 16:40] matthewtoast commented on #27
Agree that we should do an audit of this. Several of the dependencies that might seem like devDependencies are (currently) dependencies in our case, since our build tools are (currently) required for creating components. It may require a deeper refactor to get this cleaned up properly and make the runtime dependencies a lot more lightweight.

[2015-06-23 16:44] johnantoni commented on #25
+1

[2015-06-23 16:47] matthewtoast commented on #28
@law-liet Thanks for the report!

Can you start with a clean directory and try going through the setup instructions one more time? https://github.com/famous/framework#setup--installation We pushed a few fixes and improvements to this process yesterday that may have resolved the issue you're seeing.

If you still get the same issue, would you be able to post the exact commands that you ran so we ca

[2015-06-23 16:53] tlhunter opened #29 "Support Animation for Meshes"
I spoke with Joseph and it sounds like Famous does not currently allow for animations of meshes (imported OBJ's).

Being able to animate these is a must for high quality game development.

It looks like the [OBJ Standard](http://paulbourke.net/dataformats/obj/) doesn't support animations itself, so a creative solution may be required.

[2015-06-23 16:55] matthewtoast commented on #29
Hi @tlhunter -- Should this issue instead be filed under https://github.com/famous/engine? (That is where the core WebGL implementation is located.)

[2015-06-23 17:45] law-liet commented on #28
I started a clean directory. I uninstalled and reinstalled `famous-cli` and followed the steps again.
Here's what I ran after entering a new directory:
[code]
Then, I got:
[code]

[2015-06-23 17:56] matthewtoast commented on #28
OK, thanks @law-liet ! There is a missing piece to the install that we overlooked. Can you try running `famous register` to reserve a username for yourself, and then run `famous framework-scaffold` in another clean directory?

@wgester - Would it be possible to add a step to the Famous CLI that will first register a user, or create a session, if one does not already exist when the user attempts to

[2015-06-23 17:57] matthewtoast commented on #25
Let me know if you think anything needs to be added or clarified:

https://github.com/Famous/framework/blob/develop/docs/api/sugar.md

[2015-06-23 18:16] law-liet commented on #28
Now, I ran `famous register` and changed to a new directory. Then I ran:
[code]
I still got the same message in my first post and nothing in the browser.
Here's what I got by running `find components/ -type f -exec cat {} \;`:
[code]
Something I noticed in part of the message after running `sudo famous framwork-scafforld`:
[code]
I don't know if that worth noticing, I just put it here.

[2015-06-23 18:22] johnantoni commented on #25
Excellent. thanks @matthewtoast

[2015-06-23 18:53] matthewtoast commented on #28
@law-liet  I noticed that, during this last attempt, you ran the `famous framework-scaffold` and `npm run dev` commands with `sudo`. That could potentially cause issues. Do you get the same result if you run them _without_ `sudo`?

[2015-06-23 19:24] andrewreedy commented on #25
Looks great thanks!

[2015-06-23 19:56] law-liet commented on #28
Well, I tried `famous framework-scaffold` without `sudo` first. It just showed the error message above and then stopped. But I tried `sudo famous framework-scaffold` again. The error message did not show up this time and it seemed to work at least on the scaffolding step. Then I tried `npm run dev`. Here's the message:

[code]

[2015-06-23 20:18] andrewreedy commented on #26
Now that I think about it the easiest way to do this would just be to use relative paths:
[code]
instead of
[code]

[2015-06-23 20:37] andrewreedy commented on #26
Is the reason for having `codeManagerAssetReadHost` for possibly using a CDN in production or for loading remote assets? For local components, during development, you could just change `deployer.js` -> `codeManagerAssetReadHost` to an empty string so that `getBundleURL` and `getAssetURL` would just return a relative URL so that you don't have to worry about how they are accessing the dev server.

[2015-06-23 21:54] matthewtoast opened #30 "Watcher doesn't reload demo when nested components are changed"
I'm porting this issue via @thiswildorchid that was filed against the famous-cli repo - https://github.com/Famous/famous-cli/issues/54 - since it is actually a problem with our tooling not the CLI itself.

- - - -

It appears that when I create new components the app is not watching them for changes and wont load the changes made to the files in the modules.

### How to reproduce

- create demo ap

[2015-06-23 21:59] matthewtoast commented on #30
Just to clarify what's going on. This is a known issue with our build process.

The builder smart enough to find a component's dependencies and build those (recursively), but it's _not_ smart enough to find all of the _dependents_ of a component and rebuild those.

We may need to go back to first principles and build the builder the right way in order to solve this. As it stands, the tooling is ve

[2015-06-23 22:04] matthewtoast commented on #28
Wow, how frustrating. Thank you for continuing to try.

The only other thing I can think of is that the username you entered is `LawLiet`...  that username won't work in the framework as it turns out. We actually require that usernames be all-lowercase and hyphens only. But, of course, we totally did NOT add that to our CLI as a validation step. So, our bad for that. We are going to add a validati

[2015-06-23 22:53] thiswildorchid commented on #30
@matthewtoast  thanks for the update. I would be happy to help if I can. Are you thinking that you will rebuild the CLI tool or are you thinking of something else?

[2015-06-23 23:56] tlhunter commented on #29
Good call. Migrated: https://github.com/Famous/engine/issues/333

[2015-06-23 23:56] #29 closed

[2015-06-24 01:10] matthewtoast commented on #30
Most of the issues with this are located in the framework's dev tools (here be dragons):

https://github.com/Famous/framework/tree/develop/dev

I'm planning to go through and refactor a lot of this to hopefully make it easier to handle these cases.

[2015-06-24 03:50] thiswildorchid commented on #30
OK so the issue is related to the fact that this line resolves to false.
`var doRebuildEverythingOnChange = info.rebuildEverythingOnChange === 'yes';`

found in `famous-framework/bin/famous-framework.js` line `81` I can do a pull request with the fix by adding `--rebuildEverythingOnChange=yes` to the `"local-only-bootstrap":` setting in the `package.json`

[2015-06-24 07:15] andrewreedy commented on #24
I think I thought of a better way to do this using a component. The approach I illustrated is actually pretty limited. Feel free to close this one.

[2015-06-24 15:12] matthewtoast commented on #30
@thiswildorchid - That option will indeed work. But, it gets a bit hairy when you are developing a lot of components in that one workspace. I.e., rebuilding say 100 components when you've made a tiny whitespace change seems a bit heavy. (Especially if you're like me and you compulsively 'save' almost every minor change!) I feel like there's a way to handle this that is a bit more limited. So I wou

[2015-06-24 15:13] matthewtoast commented on #26
@andrewreedy - That sounds like it could work. You are correct that the reason for `codeManagerReadAssetHost` is for CDN which we plan to provide for framework users. I will give it a try asap.

[2015-06-24 15:14] #25 closed

[2015-06-24 15:14] #24 closed

[2015-06-24 17:00] thiswildorchid commented on #30
Right now I feel the build process is no better off without  `--rebuildEverythingOnChange=yes`  since we have to manually change our "main" component so that changes are registered. To your point about

I think that is a legitimate concern and good point.

However I don't think anyone is going to be be working on anything more than demo apps in the short term and those will likely not have more th

[2015-06-24 18:32] sebringj commented on #28
Make sure to update to latest version of node 0.12... then do:

sudo npm uninstall -g famous-cli
sudo npm install -g famous-cli
famous login
mkdir your-project && cd your-project && famous framework-scaffold

[2015-06-24 18:34] TheAlphaNerd commented on #28
you should not have to use sudo when installing the CLI

@sebringj you should be careful about giving advice to people that involves sudo. While it might seem to "fix" the problem it actually compiles on even more. One should never be using sudo with npm.

Security concerns aside it will start plopping root owned folders in your npm cache and make it impossible for you to npm install anything with

[2015-06-24 18:37] matthewtoast commented on #30
Cool, that's great feedback. I'll go through it a few times with `--rebuildEverythingOnChange=yes` and just check that it meets the base case.

[2015-06-25 03:41] DaleCameron opened #31 "Uppercase username/No dependencies found"
I unknowingly made the first letter of my username uppercase which caused me not to be able to run the basic scaffolded project. I received a few errors below in the console.
[code]
Which made it pretty clear that I should not use uppercase in my username, but I could not figure out how to change it.

Maybe there should be a warning when running `famous register` or it should automatically lowerca

[2015-06-25 15:24] matthewtoast commented on #31
Hi Dale, thanks for this report and apologies for the friction. Agree, we should _at least_ warn when a username isn't compatible. Count this as an oversight on our part. This is on our radar and we should have a fix in soon. Related to https://github.com/Famous/famous-cli

[2015-06-25 17:39] matthewtoast opened #32 "env: node\r: No such file or directory"
Filing the issue for posterity since it took a while to arrive at this as a fix.

When running `famous framework-scaffold` the user can get this error:

[code]

### The problem seems to be

that a non-Unix line ending has ended up in the `bin/famous-framework.js` file.

### The solution seems to be

to go into `bin/famous-framework.js` and delete the line break after the shebang, and then re-add t

[2015-06-25 17:39] #32 closed

[2015-06-25 19:39] trusktr commented on #19
What about if no build hook is provided, default to #1, if a build hook is provided, apply #2 only?

For #1, what about Webpack? It's much more customizable than browserify. Users could specify settings in webpack.config.js to override the default settings. The convention could be that a user's config gets `_.merge`d onto famous-cli's internal webpack config, making it super flexible.

[2015-06-26 22:06] Tim-W commented on #19
@trusktr is Webpack an upcoming web standard? Have heard of it and sounds interesting but am not sure how well it is/will be supported.

Anyways, I'd vote for being able to use CommonJS and/or AMD modules.

[2015-06-27 02:48] trusktr opened #33 "[bug?] Both setting the content behavior and content in the tree causes what seems like two DOMElement contents on a single node."
Example: https://api-beta.famo.us/codemanager/v1/containers/c3283546-9d8b-4c6d-a3c0-dd8c68fae9b4/share

Inspect element on one of those "spinners" and you'll see they contain more than one `famous-dom-element-content` DIV elements.

[2015-06-27 02:50] trusktr commented on #33
I chatted with @Morgantheplant and we thought perhaps a nice result would be that the `content` behavior overrides whatever is in the tree?

[2015-06-28 18:11] talves commented on #17
I just tried the framework again on Win7 and I now get no errors on install and scaffold.  I have to run `npm run bundle & npm run local-only-bootstrap` in separate shells (no errors), but it the server does not seem to be starting.

Is windows still not supported?

[2015-06-28 21:37] matthewtoast opened #34 "Handful of issues when rendering IE11"
Was doing some testing in IE11 on Windows 8 and saw the following errors:

- [ ] `famous-demos:dynamic-list` The background color changes to gray after control flow runs. Seems this could be related to an issue with the WebGL context?

- [ ] `famous-demos:simplified-todos` Items are only added to the list after the input field is 'blurred'.

- [ ] `famous-demos:widget-dashboard:dashboard` An error

[2015-06-28 21:43] matthewtoast commented on #17
@talves - Tentatively, I think Windows installation/setup is working... **However note I haven't updated the Famous CLI tool yet so the $ famous framework-scaffold command is still broken.**

I've gone through the full setup process from a blank slate running Windows 8 in Parallels Desktop and got things working.

If you're up for it, you can try it out:

[code]

When I did the above, I saw all of

[2015-06-28 22:24] talves commented on #17
I do not mind running it manually.  It worked after a couple tries.  Get an error twice then finally runs.

The first time I ran `npm run local-only-bootstrap` the following error happened on the emit
[code]
I ran it again and get this error
[code]

The third time it runs without an error before the server starts.

[2015-06-28 22:49] trusktr commented on #17
@talves Maybe you can just spin up a Linux distro in Virtualbox, then serve the app to a port that you can access in your Google Chrome in Windows. xD

[2015-06-28 23:03] talves commented on #17
@trusktr that would kind of defeat the purpose of getting windows up and running :smile:
It is working now, so no need anyway.

[2015-06-29 15:51] timBrockman commented on #17
in case it helps.. my install went like so:
[code]
First time I ran npm run local-only-bootstrap:
[code]
The second time it served as planned.

[2015-06-29 16:10] migsig commented on #17
Try  a   'npm cache clean'

Then run  'famous develop' in the project directory.
 Should run.

[2015-06-29 16:14] talves commented on #17
@migsig that was not the problem. Thanks anyway.

[2015-06-29 16:30] migsig commented on #17
oh well
good luck.

[2015-06-29 22:26] etinin commented on #17
just tried it. first time the npm install failed (the python in my path was 3.4, not 2.7). fixing and rerunning it without deleting the node_modules folder failed.

after deleting and reinstalling, everything worked smoothly.

[2015-06-30 08:31] agcolom opened #35 "Docs folder not shared"
your [README.md](https://github.com/Famous/framework/blob/develop/README.md#windows) makes reference to https://github.com/Famous/framework/blob/develop/docs/windows-installation.md but this doesn't seem to be shared yet. It might be worth either sharing it or adding a warning.

[2015-06-30 16:10] arkadyp commented on #33
@trusktr Can you share the code for that example?

[2015-06-30 17:08] ildarsamit opened #36 "Events from regular HTML in a tree don't work"
I tried running an example from the website:

http://famous.org/framework/tree.html
Under "Inserting actual HTML"

[code]

I get this error: `Uncaught TypeError: Cannot read property 'events' of undefined`
If I replace `#bar` with `input` in the events selector, it doesn't give an error but still doesn't work.
If I replace `#bar` with `#foo`, nothing happens. I'm assuming this means the event does

[2015-06-30 17:36] Imti commented on #36
@ildarsamit There was an API change for the input event name `change`. It's now `input` to match

[2015-06-30 17:39] trusktr commented on #33
@arkadyp Sure:

[code]

[2015-06-30 17:41] Imti commented on #36
@ildarsamit There was an API change for the input event name `change`. It's been updated to `input` to match the corresponding DOM event `input`.

We'll have to update the docs to match this change.

[code]

The change from `change` to `input` above fixes the issue. Also, using the `$event` injectable allows us to receive DOM event objects.

As for not being able to target the `<input>` element by

[2015-06-30 18:00] djgrant opened #37 "Attaching listeners for standard DOM events"
Is there a way to attach listeners for standard DOM events like `copy`, for example?

As far as I can see, this won't work as it's not a famous:event or a $dispatcher event:
[code]
There doesn't seem to be a way to access the DOM node directly from with event. `$dispatcher` exposes a virtual DOM node for the host component but even event listeners attached to them do not show up once the DOM tree

[2015-06-30 18:04] ildarsamit commented on #36
Awesome, thanks man! Changing the event from `change` to `input` worked.

[2015-06-30 18:08] ildarsamit commented on #37
Have you seen the previous issue? I'm not sure if it works for a `copy` event, but it works for an `input` event (and supposed to work for others).

https://github.com/Famous/framework/issues/36#issuecomment-117275706

[2015-06-30 18:14] djgrant opened #38 "Node attributes inconsistently added to DOM node"
Take this tree:
[code]
Without applying certain behaviors, this generates a DOM node without the id or the class given to the node.
[code]
It would make more sense if attributes are passed to the DOM node irrespective of what behaviors are being applied.

[2015-06-30 18:29] djgrant commented on #37
`input` is a native UI event from `famous:events`

https://github.com/Famous/framework-guides/blob/develop/%24event.md#start-of-content

[2015-06-30 18:41] ildarsamit commented on #37
Oh right, I see.

[2015-06-30 18:47] matthewtoast commented on #35
Thanks for the note about this! We moved this content but forgot to update the README.

The docs repo is located here:

https://github.com/famous/framework-guides

[2015-06-30 18:47] matthewtoast commented on #35
And the live site for docs is here:

http://famous.org/framework/

[2015-06-30 18:47] #35 closed

[2015-06-30 18:48] matthewtoast commented on #38
Great catch. We'll look more into this.

[2015-06-30 19:40] djgrant opened #39 "$repeat doesn't use array.length"
Not sure if a mistake in documentation or a bug.

The documentation say that `$repeat` "reflects the .length of the array" https://github.com/Famous/framework-guides/blob/develop/control-flow.md

But:
[code]
Results in no elements being repeated.

[2015-06-30 19:58] Imti commented on #36
[This commit](https://github.com/Famous/framework/commit/7085bafc5800a119b825f6db281ab9ad63ad91be) should fix the issue.

The problem was that the `input` tag name that we were targeting was being expanded to `famous:events:input` because we also have an `input` event. The solution goes through the events object one level deep (so all the selectors) and doesn't expand them if they match a native h

[2015-06-30 20:25] Imti commented on #37
@djgrant We're looking into this, checking with the Engine team to see the best way to do this in Engine.

[2015-06-30 20:32] ildarsamit commented on #36
Sweet, thanks.

[2015-06-30 21:05] Imti commented on #39
Looks like a bug to me.

It seems that we're doing a falsey check somewhere since pushing false / undefined to the array also breaks it.

[code]

We'll look into this.

[2015-06-30 22:24] djgrant commented on #30
Even with this setting I'm finding that I need to still save twice before the changes appear in the browser. Also, multiple live reloads get triggered - once for each component, at a guess.

[2015-06-30 22:36] matthewtoast commented on #30
We'll be adding a new option soon that will hopefully remove some more friction from this process.

[2015-07-01 16:07] ericmcgregor opened #40 "Build process not triggering for sub components"
I noticed something with the automated build and browser refresh.  If i am working inside a sub-component, the build process will trigger and refresh the browser, but the changes will not take effect *unless* I make a change to the parent component that is being included in the public index file.

example...  I am loading this layout component in the public index.htm:

FamousFramework.deploy('user

[2015-07-01 18:46] djgrant commented on #40
A temporary fix is to build all components on every change by adding `--rebuildEverythingOnChange=yes` to the `"local-only-bootstrap":` setting in the `package.json`.

You might want to clear some of the famous components you're not using out of `components/famous` to speed the build process up if you're doing that.

See https://github.com/Famous/framework/issues/30

[2015-07-01 18:55] matthewtoast commented on #40
We'll also be adding another option soon that will allow you to develop with respect to a single component (instead of everything you have in your components folder), which also really speeds up the rebuilds.

[2015-07-01 21:38] blevinscm commented on #28
I have tried to scaffold a project and NPM dev start multiple times but I keep getting the same errors.
Here is my log file.  I am using Node installed via Brew. Not sure if that matters.
[code]

Any help would be greatly appreciated because I am very excite to try this out.

[2015-07-01 21:41] TheAlphaNerd commented on #28
what is your operating system?

[2015-07-01 21:42] TheAlphaNerd commented on #28
This is a super odd one. How have you installed node?

[2015-07-01 21:48] blevinscm commented on #28
Through Brew

[2015-07-01 21:48] blevinscm commented on #28
Do you think that might be the issue?  Sorry for the double post.  Hit enter too quickly.

[2015-07-01 21:51] TheAlphaNerd commented on #28
can you try installing with nvm and see if that makes things play better?

https://github.com/creationix/nvm

If nvm doesn't seem to work at first make sure it is being run in your bash profile. If it isn't you can add this snippet
[code]

[2015-07-01 21:53] blevinscm commented on #28
I will do that and report back.

[2015-07-01 22:28] Imti commented on #36
Closing.

[2015-07-01 22:28] #36 closed

[2015-07-01 22:37] ildarsamit opened #41 "'$if' causes an error when used with two components"
This doesn't happen when all the code is in one component. Only when I have two components like this:

[code]

The other component emits an event (and the previous component above listens to it).

[code]

Clicking on the node causes the following error: `Uncaught TypeError: Cannot read property 'parentNode' of null` in the `while` statement of the function defined in famous-framework.development.b

[2015-07-01 23:49] matthewtoast commented on #41
Great catch. We'll work to get a fix in for this.

[2015-07-02 01:20] blevinscm commented on #28
I went through and used NVM as you suggested for the stable build and it installed the CLI without issue, but when I run npm run dev I get the following
[code]

[2015-07-02 01:21] TheAlphaNerd commented on #28
have you run ```npm install``` in the folder?

[2015-07-02 01:57] blevinscm commented on #28
At what point do I do that because it isnt in the readme,

[2015-07-02 01:57] blevinscm commented on #28
At what point do I do that because it isnt in the readme,

[2015-07-02 01:58] blevinscm commented on #28
At what point do I do that because it isnt in the readme,

[2015-07-02 01:58] blevinscm commented on #28
At what point do I do that because it isn't in the readme,

[2015-07-02 02:01] TheAlphaNerd commented on #28
that should have happened when you scaffolded... it appears that things exploded earlier when making this project. npm install is a standard for any project using npm as a package manager, although we wrap this in our cli.

You may want to try making a brand new project

[2015-07-02 02:01] blevinscm commented on #28
kk will do.

[2015-07-02 02:14] blevinscm commented on #28
Ok I had to change the directory structure completely and it finally worked.  I am not sure why it would cause issues, but the good news is I finally have the server running.

[2015-07-02 02:17] TheAlphaNerd commented on #28
you had to change the directory structure from the generated project?

That is not good!

[2015-07-02 09:00] djgrant opened #42 "Cannot $repeat an element nested inside a HTML element"
It is not possible to $repeat a component that has a HTML element as an ancestor.

Example:

[code]

Results in error:
`Uncaught Error: ParentNode with UID `null` does not exist. Unable to process $if/$repeat`

[2015-07-02 10:28] djgrant opened #43 "Included scripts are added to <head> and bundle"
Results in external.js being referenced in the document <head> and added to user~scene.bundle.js:
[code]

[2015-07-02 15:09] matthewtoast commented on #43
Another great catch. We should only be inlining the `external.js` and not including it in the head. (This is related to a bit of vestigial code that should be removed.)

[2015-07-02 15:17] matthewtoast commented on #42
My instinct is we will need to do some refactoring to address this in full. We have very basic support for targeting DOM elements directly with behaviors, but there many are cases like this one that will result in an error.

The workaround for the time being would either be to: (a) wrap the element you want to `$repeat` in a `<node>` (although that obviously isn't ideal as it adds superfluous nest

[2015-07-02 15:30] djgrant commented on #42
For posterity it's worth noting that that example will only work with
`inner-html` as the behavior.
On Jul 2, 2015 8:17 AM, "Matthew Trost" <notifications@github.com> wrote:

[2015-07-02 15:44] matthewtoast commented on #42
^ `'content'` will work when applied to a `<node>` component, as shown in my snippet. But you are correct in noting that if you are targeting a _DOM element_, you would use `'inner-html'` to render raw HTML.

[2015-07-02 16:14] ildarsamit opened #44 "Cannot use `$if` together with setting `$state` from within `$lifecycle`"
In short, I can't use `$if` together with setting `$state` from within `post-load`.

This works:
[code]

This also works:

[code]

But this doesn't work:

[code]

Could be related to #41

[2015-07-02 19:22] djgrant commented on #42
A major downside of this approach is that Framework does not register events to HTML inserted by content or inner-html. It's only really useful for inserting static content.

[2015-07-03 01:06] tutaslabs opened #47 "Child node 'click' event triggers no longer work when the parent becomes visible via $if"
Use case: simple popup dialog with OK and CANCEL buttons. If the initial state of the popup is visible (for testing), the 'click' events on the buttons work as expected. If the popup node is set hidden via $if and then re-displayed ($if is true), the buttons (child nodes) no longer respond to click events.

FamousFramework.scene('tutaslabs:test', {
    behaviors: {
        '#popup': {

[2015-07-03 08:24] gadicc opened #48 "Support integrations / alternative build processes"
It's been stated already that this is on the roadmap, but obviously lower priority than critical work on Framework itself.  Nevertheless, I thought it would be a good idea to keep an issue open for this, as a central point to be referred back to, and to accumulate ongoing thoughts, requests, etc so we all have a shared, clear vision of where this is headed.

(Framework team -- feel free to edit th

[2015-07-03 08:25] gadicc commented on #48
My biggest suggestion, architecturally, would be to separate Framework into 3 distinct parts and/or npm packages.

* The *client-side* code for easy inclusion of the parts of Framework that need to be on the client (and integrates with the same require/module systems that Engine does; it should not include Engine code itself, only require a particular version of it).

* The *compiler* code that pr

[2015-07-03 18:21] trusktr commented on #48
That will be helpful for the Meteor integration.

@matthewtoast If the famous cli tool can be specifically be told which files to compile, with dependencies specified on a per-file (i.e. per-entrypoint or per-component) basis, with the cli tool handling dependencies across all of those entry points, then that would help a lot with Meteor integration because then we'll be able to specify those entr

[2015-07-03 20:54] djgrant commented on #44
Looks like the same issue as https://github.com/Famous/framework/issues/47 where event handlers aren't registered to nodes that are created after the component has loaded.

In the 3rd example the click handler is not registered presumably because the `.page` node was created after the component loaded.

@Imti

[2015-07-06 16:59] pilwon opened #49 "Memory leaks in DataStore"
There is `DataStore.saveFamousFrameworkComponent` to register key to `COMPONENTS` object but no function exists to unregister key from it. This causes a memory leak problem over time in any component that uses `$if`s and `$repeat`s where children nodes are dynamically added/removed. We need a destructor function that knows how to reach in to these places and clean things up.

[2015-07-06 17:59] arkadyp commented on #49
Thanks for bringing this up @pilwon. I will work on putting in a deregister method and calling it in the appropriate place.

[2015-07-06 18:04] arkadyp commented on #44
@ildarsamit @djgrant, thanks for bringing this issue to our attention. I'll work on getting a fix to this in ASAP.

[2015-07-06 21:18] arkadyp commented on #47
@tutaslabs I pushed a slightly modified version of this code up to a [container](https://api-beta.famo.us/codemanager/v1/containers/a07e1303-b64d-4c73-b8ff-e32420ea1f37/share) and it seems to be working as expected. When you get a chance, could you try re-running your code on the latest release of Framework to double check that the issue has been resolved?

[code]

[2015-07-06 21:52] arkadyp commented on #44
@ildarsamit Fixed with 6b864751f0a439078644ebbf8b5dd639dc436334.

The issue was a result of the MutationObserver being created after the `post-load` event was fired. In our current implementation, the MutationObserver listens to changes in the underlying detached DOM, and adds event listeners such as `click` whenever new `<node>`s are added to our scene via the control flow conduit. By fixing the

[2015-07-06 23:47] arkadyp commented on #41
Fixed with cc0ce9c5495e7c830c96d932386c724ce3812636. This commit refactors the `Dispatcher.emit` method to record all the ancestors before dispatching events. This change prevents a race condition in which an element is removed from the detached DOM midway through moving up the ancestor chain.

When you get a chance, could you please double check that this update resolved the issue you encountered

[2015-07-07 00:05] djgrant commented on #44
@arkadyp how do you update an existing project? I don't see any command within the cli and famous-framework is not on npm.

[2015-07-07 00:14] djgrant opened #51 "Existing content is not replaced when node is yielded"
Take this example where a child component yields

[code]

[code]

[2015-07-07 01:14] ildarsamit commented on #44
@djgrant to run a project you usually run `npm run dev`. But that's just a script that can point anywhere, so you can actually run something like `node path-to-framework/bin/famous-framework.js local-only-bootstrap --sourceFolder=components --destinationFolder=public/build --servedFolder=public --port=1618`.

So here's my setup:

I git clone the Famous Framework repo (so I can switch to any branch

[2015-07-07 02:54] djgrant commented on #44
Thanks @ildarsamit. Now you've mentioned it I realise you can just reference the commit directly in `package.json` dependencies.

[code]
See https://docs.npmjs.com/files/package.json#github-urls.

[2015-07-07 03:05] ildarsamit commented on #44
@djgrant oh yeah, sorry you can just do that lol. I have the repo checked out in case I wanna play around with the actual code etc.

[2015-07-07 17:57] djgrant commented on #44
@arkadyp Taking a quick look at this, the original problem seems to be resolved. Thanks!

Perhaps a separate issue, it's still not possible to attach event handlers to HTML elements inserted by the `inner-html` behavior.

[2015-07-07 18:37] arkadyp commented on #44
@djgrant Thanks for taking a look.

We're aware of the separate issue of not being able to attach event handlers to HTML elements created via the `inner-html` behavior. Under the hood, the `setContent` method is called on Engine's [`DOMElement`](https://github.com/Famous/engine/blob/master/dom-renderables/DOMElement.js) when the `inner-html` behavior is applied. Currently, there is not a good way

[2015-07-07 18:50] arkadyp commented on #51
@djgrant Thanks for bringing this to our attention. I'll look into this today.

[2015-07-08 01:59] tutaslabs opened #59 "Strange thenSet behavior"
Simple animation where node transitions to the left, content changes, and transitions back. This sequence of set/thenSet does not work. Transitioning to the left, back to the right, THEN changing the content DOES work though this is not the desired behavior.

FamousFramework.scene('tutaslabs:test', {
    'behaviors': {
        '#button': {
            content: '[[identity]]',
            'origin':

[2015-07-08 03:24] Imti commented on #59
@tutaslabs

Thanks for the issue, this is a known bug with using `.thenSet()` without a duration.

This is on my radar for things to fix in the state manager.

[2015-07-08 22:11] blevinscm commented on #28
No sorry to be confusing.  I just had to make sure I didn't reuse a directory name that was previously used when NPM was installed via Brew.  Once I changed the name it worked.

[2015-07-09 22:46] trusktr commented on #19
@Tim-W Webpack isn't a standard, it's just a tool that makes it possible to use competing standards (CommonJS, AMD, and ES6 modules) within a single app. It's just a build tool that lets you compile bundles out of entry points written using those module formats. Browserify is an alternative to Webpack, among others, that does the same thing basically.

[2015-07-10 00:50] pilwon opened #64 "Loading remote resources"
I'd like to include remote resources (ex: font-awesome hosted on CDN) but it doesn't seem to support this functionality yet. I've tried both adding `http://{URL}` and `//{URL}` to `config.includes` but the desired URL is always appended to the entry component's root URL. (ex: `http://localhost:1618/build/famous-demos~twitter~app/famous-demos/twitter/{URL}`)

[2015-07-10 00:53] pilwon opened #65 "Injecting nested state value to a behavior"
How do you inject nested state value to a behavior? (ex: `$states.get([‘a’, ‘b’]` from `{states: { a: { b: 1 } } }`)

[2015-07-10 00:53] pilwon commented on #65
@Imti on Slack:

@matthewtoast on Slack:

[2015-07-10 00:57] tutaslabs commented on #64
The  not ideal  work around  I used was to add it to node_modules/famous-framework/dev/build-pipline/templates/index.html

Again... Only a temp fix until a supported solution (which I am also much interested in) is provided.

[2015-07-10 00:57] pilwon opened #66 "Improve "famous:layouts:scroll-view""
`famous:layouts:scroll-view ` currently uses `{overflow: scroll}` that works fine on desktop web browsers but provides a terrible experience on mobile web browsers. Maybe we can improve it by integrating with [iscroll](http://iscrolljs.com/) or [Zynga's scroller](https://github.com/zynga/scroller).

[2015-07-10 01:23] pilwon opened #68 "Switch to camelized names for event keys"
BEST code can easily get messy with lots of quotation marks used for selectors, events, etc. It'd be fantastic to switch to camelized names for event keys as it will significantly reduce the amount of quotation marks in `behaviors` and `events` section of code. Camel case is more consistent with idiomatic JavaScript too. (The only places I see that absolutely need dasherized strings wrapped in quo

[2015-07-10 13:19] matthewtoast commented on #65
This is mostly a question of what API would be appropriate. We could:

1. do some magic in the build step to allow syntax like `function(foo.bar.baz){}`
2. adopt a convention like `function(foo__bar__baz){}` or `function(foo$bar$baz){}`
3. add meta info to behaviors with e.g. `function(){}.triggeredBy('foo.bar.baz')`

Or something else?

[2015-07-10 13:19] matthewtoast commented on #66
:+1:

[2015-07-10 13:22] matthewtoast commented on #68
This seems sensible to me. I don't think there was a very strong reason to adopt the dasherized convention - other than aesthetics and readability. (I personally think `foo-bar-baz` is prettier and easier to read than `fooBarBaz`.) However I think developer convenience and convention should outweigh this, so it might be worth changing our recommended conventions. Tentative :+1:

[2015-07-13 11:55] FrizzaUK commented on #17
Installation worked fine (ish) - however the build (local-only-bootstrap) fails due to invalid path names. It's trying to use ':' in the path whereas that's an invalid character in Windows!  Any idea what I need to change to make the bundles build to a valid path and whether anything else needs changing, such as the deployer?

[2015-07-13 14:53] matthewtoast commented on #17
@FrizzaUK - What version of famous-framework do you see in your project's package.json? If you are using < 0.12.1 then it is likely you are missing some updates that fix that issue. (The build should be creating folders with tilde-based namespaces e.g. .`foo~bar~baz`)

[2015-07-13 15:12] FrizzaUK commented on #17
That could well be it!  I am running 0.11.1 - I will update and see what happens.  Note to self, make sure everything is up to date!

[2015-07-13 15:13] matthewtoast commented on #17
@FrizzaUK - You should also double check that the npm scripts in your package.json match the ones in this one, since some changes may have been made in there too:

https://github.com/Famous/famous-cli/blob/master/lib/framework/scaffold/templates/_package.json

[2015-07-13 16:22] FrizzaUK commented on #17
Back in business, thanks for your help - I can now crack on with some prototypes.

[2015-07-14 03:36] johnjelinek commented on #19
I'd like to hook jspm+gulp into this.

[2015-07-27 19:19] Joera opened #70 "nested $repeats and $index values"
Question:  Who has an idea how i can get a parent $index value inside a child $repeat?

as in a html structure like

[code]

and .js

behaviors: {

   .cluster': {

[code]

  },
  '.particle': {

[code]

   },

states: {

[code]

 }

[2015-07-30 15:58] kakajansh commented on #66
Maybe one more possible choice [Scrollers js](https://github.com/forcedotcom/scrollerjs)

[2015-08-04 20:42] ildar-samit commented on #70
You can create `cluster` as its own component, then do a repeat on the parent, passing the index down to cluster. This index in cluster will be the column number. Then cluster can have its own repeat inside of itself, which will be the row number.

[2015-08-08 09:44] Joera commented on #70
Ah .. nesting components ..Thanks. I will give it a try.

[2015-08-09 00:18] SvitlanaShepitsena commented on #17
In my case I got **node-gyp rebuild error**
Woof, I finally found a way for it to work:
1.  Install Python 2.x version (I installed 2.73) and add c:\python27 to you global path variables. Check with python
2.  Install Visual Studio 2015 Community edition
3.  Install windows SDK 8.1
4.  Install node-gyp globally `npm i  –g node-gyp` (I run console as admin)
5.  Clone framework repository, `npm i` –

[2015-08-09 09:58] MichaelGradek opened #72 "$repeat does not repeat"
If you run this example, Framework will only generate 1 div at position 50, 50 where I would expect it to create two, one at 0, 0 and the second at 50, 50. Also, the console.log($index) prints two 1's, instead of a 0 and a 1. Strange...

[code]

EDIT: Hmm… just saw this seems to happen whenever the list you try to repeat over does not contain objects… So for example if you `'$repeat’: [0, 1]` it d

[2015-10-11 17:59] identy commented on #17
uffffff! thk!

[2015-10-14 02:16] faceyspacey commented on #48
+1

[2016-01-13 18:46] flying-sheep opened #74 "sue “Famous Industries”"
Those guys have bought your old domains (famo.us/famous.co) and stolen your “circled φ” logo.

Now that page is plastered with incomprehensible marketing bullshit (micro-apps, wtf) posted leeching off this project’s name and image.

sue them or send a cease-and-desist letter to at least make them stop using the “φ” logo

[2016-01-15 14:34] ghost commented on #74
Half of me thinks that your comment is sarcastic.

In case not: Famous Industries and the company that wrote the famous library are one in the same.  The page at famous.com is their attempt at monetizing the framework.  I'm not going to pass judgement, I didn't contribute any code.

[2016-01-15 20:31] flying-sheep commented on #74
oh.

actually i was torn between thinking of that page as being satire or not.

it has huge feel-good stock photos, completely meaningless marketing lingo, and doesn’t link to any useful information at all (e.g. the famous framework website, pricing information, or _what they actually offer_)

“amplify conversion” / “increase average order value” → what.

nice enumeration of social platforms, but

[2016-01-15 20:31] #74 closed, assigned to nobody

[2016-01-16 14:31] PierreOlivier-LatourTheThird commented on #74
TechCrunch ran an article about this: http://techcrunch.com/2015/11/06/nopen-source/

[2016-01-16 14:43] flying-sheep commented on #74
thanks, this explains quite a bit.

what people can take away from this issue is probably that the new landing page is horrible in conveying wtf famous industries does to the layman (it might actually make sense to the target audience of marketing people.

and the the new thing they do is pretty jarring.

[2016-04-06 19:01] AStaroverov commented on #66
Using iscroll bad idea, becouse this lib now maintener left from project and she have > 400 issue

[2017-01-09 09:29] SP-I-RA commented on #72
FamousFramework.component('m:test', {
    behaviors: {
        '.item': {
            '$repeat': [0, 1],
            'position': ($index) => {
                console.log($index);
                return [$index * 50, $index * 50]
            },
            'content': ($index) => {
                return `<div style="width: 50px; height: 50px; background-color: yellow">${$index}</div>`

[2022-10-07 01:27] #27 closed